.display-container {
    background-color: #ffffff;
    height: 100vh;
    padding-bottom: 20vh;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .prediction-result {
    padding: 10px;
    text-align: center;
  }
  
  .image-container, .graph-container, .table-container {
    padding: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 99%;
  }
  
  .image, .graph{
    max-width: 100%;
    max-height: 99%;
    height: auto;
    object-fit: cover;
  }

  .custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .custom-table th, .custom-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .custom-table th {
    background-color: #f2f2f2;
  }
  
  /* Responsive adjustments for smaller screens */
  @media (max-width: 600px) {
    .image-container, .graph-container, .table-container {
      padding: 5px;
    }
  
    .image, .graph {
      max-width: 100%;
      height: auto;
    }
  
    .custom-table {
      width: 100%;
      margin-top: 5px;
    }
  
    .custom-table th, .custom-table td {
      padding: 4px;
    }
  }

  .flip-card {
    position: relative;
    width: 100%; /* or a specific width, but ensure consistency */
    height: 100%; /* or a specific height, as needed */
    cursor: pointer;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-back {
    transform: rotateY(180deg);
  }
  
  .flip-card-inner.is-flipped {
    transform: rotateY(180deg);
  }